// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
	text-decoration: none;
}

.hello {
	margin: 100px 40px;	
}

.right1 {
	margin-left: 40%;
}

.right2 {
	margin-left: 37%;
}

.create1 {
	margin: 100px;
}

.right3 {
	margin-left: 3%;
}

.right4 {
	margin-left: 70%;
}
.center1 {
	margin: 100px;
}
.box1 {
	margin-bottom: 20px;
	color: white;
}

.box2 {
	color: white;
}

.box3 {
	color: white;
}

.right4 {
	margin-left: 196px;
	margin-top: 120px;
}

