




<div class="center1">
	<div class="row">
		<div class="col s12 red accent-3 center-align box1">
			<h3>Are You Sure You Want To Delete "<%=@product.name%>"?</h3>
		</div>

		<a href="/"><div class="col s6 light-blue darken-4 center-align box2"><h4>CANCEL</h4></div></a>
		<a href="/products/<%= @product.id %>" data-method="delete" ><div class="col s5 push-s1 red darken-2 center-align box3"><h4>DELETE</h4></div></a>
	</div>
</div>




